.blog-page-main-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.blog-container{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex: 3;
  text-align: center;
  box-shadow: 1px 1px 5px rgb(0, 0, 0);
}

.blog-title{
  font-size: 5rem;
}

.blog-author{
  font-size: 2rem;
}

.blog-body{
  max-width: 400px;
  margin: 40px auto;
  text-align: left;
  font-size: 1rem;
}

.blog-comment-section{
  flex: 1;
}

.comments-container{
  overflow: scroll;
  min-height: 150px;
  max-height: 250px;
  height: 100%;
}

.comment-container{
  display: flex;
  justify-content: center;
  padding: 10px;
  box-shadow: 1px 1px black;
  gap: 20px;
}

.form-add-comment{
  display: flex;
  min-height: 50px;
  justify-content: center;
  align-items: center;
}

.form-add-comment-input{
  border: none;
  font-size: 1.3rem;
  text-indent: 5px;
}

.form-add-comment-button{
  border: none;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  color: white;
  background-color: black;
  cursor: pointer;
}

.fa-arrow-left{
  position: absolute;
  top: 40px;
  left: 30px;
  font-size: 4rem;
  cursor: pointer;
}